@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500&family=Open+Sans:wght@300;500&family=Work+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #0f0f0f;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  color: #e5bcc4;
  margin-top: 20px;
}
.header,
.header ul.nav li  {
  margin-bottom: 20px;
}

.header .header-title,
.header ul.nav li {
  font-weight: 500;
  font-size: 26px;
}

.header ul.nav {
  float: right;
  list-style: none;
}

.header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

.menu-link {
  color: #e5bcc4;
  text-decoration: none;
}

.header ul.nav li:hover {
  opacity: 0.5;
}

.header .header-title {
  font-weight: 500;
  font-size: 22px;
}

.main {
  width: 1400px;
  height: 100%;
  margin: 30px auto;
}

.control {
  padding: 20px;
  position: absolute;
}
.task-in-list {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  cursor: pointer;
  transition: color transform 500ms ease;
}

.task-in-list:hover {
  transform: scale(1.1);
  color: #c27181;
}

.main-btn,
.form-btn,
.edit-btn,
.delete-btn,
.add-log-btn,
.log-btn
 {
  display: block;
  background: #d594a1;
  color: #261216;
  border: 0;
  padding: 10px;
  border-radius: 9px;
  margin-top: 20px;
  font-size: 18px;
  transition: background transform 500ms ease;
}

.edit-btn,
.delete-btn,
.add-log-btn,
.log-btn {
  display: inline;
  margin-right: 15px;
  font-size: 16px;
  padding: 8px;
}

.delete-btn {
  background: rgb(255, 13, 49);
  color: antiquewhite;
}

.main-btn:hover,
.form-btn:hover,
.edit-btn:hover,
.delete-btn:hover,
.add-log-btn:hover,
.log-btn:hover  {
  transform: scale(1.1);
  background: #c27181;
  color: #261216;
}

.reusable-form,
.log-form
.reusable-form input,
.log-form input
 {
  display: block;
}

.reusable-form input,
.log-form input {
  margin-bottom: 10px;
  border-radius: 9px;
  padding: 10px;
  font-size: 18px;
  width: 1400px;
  border-style: none;
  font-size: 18px;
  background: #e5bcc4;
  color: #261216;
}

.task h2 {
 margin-bottom: 10px;
 font-size: 24px;
}
.task h3 {
  margin: 10px 0px;
  font-size: 20px;
  margin-bottom: 15px;
}

.log-title {
  padding-top: 20px;
  margin: 10px 0px;
  font-size: 22px;
  font-weight: bold;
}

.log-general {
  padding-top: 10px;
  padding-left: 10px;
  margin: 10px 0;
  width: 700px;
  background: #e5bcc4;
  color: #261216;
  border-radius: 9px;
  transition: color transform 500ms ease;
}

.log-general:hover {
  background:  #c27181;
}
.logged,
.log-hours
 {
  display: inline-block;
  margin: 5px;
  padding-bottom: 10px;
}
 .log-hours {
float: right;
padding-right: 20px;
} 